@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');   

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Paytone One', sans-serif;
}

/*HEADER*/
header {
    width: 100%;
    height: 325px;
    background: #000000;
}

#logo1 {
    width: 350px;
    height: 350px;
    position: relative;
    bottom: 70px;
    
}

#logo2 {
    position: relative;
    bottom: 100px;
    right: 30px;
    width: 700px;
}

.contenedor {
    width: 98%;
    margin: auto;
}

header .contenedor{
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

.menu {
    position: relative;
    text-align: center;
    bottom: 220px;
    word-spacing: 0px ;
    font-size: 20px;
    right: 40px;
}

.login {
    position: relative;
    float: right;
    bottom: 400px;
    text-transform: uppercase;    
}

.menu a , .login a {
    padding: 2mm;
    border: 5px outset #ffffff;
    color: #ffffff;
    font-family: 'Paytone One', sans-serif;    
    text-decoration: none;
    
}

a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/*SLIDER*/

.slidercontenedor{
    height: 500px;
    margin-bottom: 45px;
}

.slider img{
    width: 1330px;
    height: 500px;
}

/*TIENDA*/

#tienda {
    background-color: #000;
    height: 850px;
}

#tienda .contenedor {
    height: 300px;
    width: 300px;
    position: relative;
    right: 500px;
    
}

#tienda .contenedor h2 {
    color: #ffffff;
    margin-left: 10px;
}

#tienda .contenedor ul, ol {
    list-style: none;
    
}

li{
    list-style-type:none;
    position:relative;
    width:120px;
    }
                
li a {
    font-size: 20px;
    text-decoration:none;
    display:inline-block;
    padding:5px 10px;
    width:120px;
    height:30px;
    color: #ffffff;
}
            
li a:hover {
    color:#000;
    background-color:rgba(255, 255, 255, 0.5);
                
}
            
.more {
    display:inline-block;
    position:absolute;
    right:0px;
    font-size:30px;
}   
    
nav li ul {
    display:none;
    position:absolute;
    top:0px;
    left:120px;
}
            
nav li:hover ul {display:block;}

/*PRODUCTOS*/

.tituloofert {
    color: #ffffff;
    position: relative;
    left: 630px;
    bottom: 160px;
    text-transform: uppercase;
    font-size: 25px;
}

.titulodest {
    color: #ffffff;
    position: relative;
    left: 605px;
    top: 210px;
    text-transform: uppercase;
    font-size: 25px;
}


#tienda .productos {
    position: relative;
    left: 300px;
    bottom: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    grid-auto-rows: minmax(100px, auto);
}
.productos img {
    width: 200px;
    margin: 20px;
    margin-bottom: 10px;
}

.productos h4 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 2px;
}

.productos article {
    border: 3px solid #ffffff;
    background: #000000;
    margin-top: 10px;

}

.ver {
    font-size: 15px;
    background-color: #000;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    left: 90px;
    border: 1px solid #ff3500;
    border-radius: 5px;
    margin: 4px 2px;
    padding: 0px 9px;
    margin-bottom: 3px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ver:hover {
    background-color: #ffffff;
    color: #000000;
}

#comprar {
    border: 3px solid #333333;
    border-radius: 6px;
    color: #ffffff;
    position: relative;
    left: 75px;
    background: transparent;
    padding: 9px;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #000000; 
    color: #ffffff; 
    border: 1px solid #ff3500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#comprar:hover {
    background-color: #ffffff;
    color: #000000;
}


/*POPUP*/

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid #000000;
    border-radius: 10px;
    z-index: 10;
    background-color: rgba(15, 15, 15, 0.99);
    width: 500px;
    max-width: 80%;
}

.popup.activo {
    transform: translate(-50%, -50%) scale(1);
}

.popup-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ffffff;
}

.popup-header .titulo-popup {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.popup-header .boton-cerrar {
    border: 3px solid #333333;
    border-radius: 6px;
    color: #ffffff;
    background: transparent;
    padding: 9px;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #000000;  
    border: 1px solid #ff3500;
}

.boton-cerrar:hover {
    background-color: #ffffff;
    color: #000000;
}

.popup-body {
    padding: 10px 15px;
    align-items: center;
}

.popup-body #comprar-popup{
    position: relative;
    left: 340px;
    bottom: 50px;
    border: 3px solid #333333;
    border-radius: 6px;
    color: #ffffff;
    background: transparent;
    padding: 9px;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #000000;  
    border: 1px solid #ff3500;
    
}

#comprar-popup:hover {
    background-color: #ffffff;
    color: #000000;
}

.imgPopup {
    border: 2px solid #ffff;
}

.descrpPopup {
    color: #ffffff;
    position: relative;
    top: 10px;
}

#imagenPopup {
    position: relative;
    left: 100px;
}

#fondo-popup {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(1, 15, 15, 0.3);
    pointer-events: none;
}

#fondo-popup.activo {
    opacity: 1;
    pointer-events: all;

}

/*FOOTER*/

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}


.copy {
    font-size: 20px;

}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: #000000;
    text-decoration: none;
}

/*TIENDAS*/

.titulopag h1{

    position: relative;
    text-align: center;
    text-transform: uppercase;
    background: #000000;
    border: 2px solid #ffffff;
    -webkit-text-stroke: 1px #ffffff;
    font-size: 40px;
}

#galeriaubicacion {
   background-color: #000000;
   margin-top: 0px;
}

.clasefoto img {
    max-width: 100%;
    width: 300px;
    height: 200px;
    
}


.clasefoto {
    margin-top: 30px;
    box-sizing: border-box;
    display: inline-block;
    padding: 1em;
    width: 30%;
    position: relative;
    left: 60px;
    text-align: center;
    
}

.clasefoto p {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}

.contenedorbanner img{
    width: 1348px;  
    height: 450px;    
}



/*CONTACTO*/

.moldecontacto {
    background: #ffffff;   
    height: 600px;
}


.contenedorform p {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    position: relative;
    top: 20px;    
}

.contenedorform {
    height: 600px;
    background-color: #000;
    
}

.form-contacto {
    position: relative;
    left: 150px;
    width: 300px;
    top: 60px;
}

.textoarea {
    color: #ffffff;
    margin-bottom: 10px;
}


input {
    
    border: 3px solid #333333;
    border-radius: 6px;
    color: #ffffff;
    position: relative;
    background: transparent;
    padding: 9px;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffffff; 
    color: #000000; 
    border: 1px solid #ff3500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
    
input:hover {
    background-color: #000000;
    color: #ffffff;
}

#mensaje {
    border: 3px solid #333333;
    border-radius: 6px;
    color: #ffffff;
    background: transparent;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    background-color: #ffffff; 
    color: #000000; 
    border: 1px solid #ff3500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#mensaje:hover {
    background-color: #000000;
    color: #ffffff;
}
/* MAPA */

#map {
    height: 100%;
  }

#Mapa {
    height: 400px;
    width: 600px;
    position: relative;
    left: 550px;
    bottom: 350px;
}