*{
	padding: 0;
	margin: 0;
	/* eliminamos los puntos de las listas */
	list-style: none; 
	text-decoration: none;
}

body{
	box-sizing: border-box;
	background-color: #eeeeee;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

header{
	height: 140px;
}

button{
	cursor: pointer;
}

.logo img{
	width: 250px;
	height: 250px;
}

.botones{
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
}

.botones > .button{
	width: 160px;
	height: 40px;
	background-color: white;
	color: black;
	border: 1px solid #adadad;
	border-radius: 5px;
}

.menu{
	margin: 12px;
	width: 700px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.menu button a{
	text-decoration: none;
	color: white;
}

.menu button{
	width: 100%;
	background-color: #ff4343;
	/* background-color: rgb(77, 40, 40); */
	border-radius: 10px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

.menu button:hover{
	background-color: rgba(255, 82, 82, 0.7);
}

.sliderMio{
	margin: 50px auto;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sliderMio > div{
	left: calc(100% - 61%);
}

.fila1{
	margin: 20px 20px 100px 20px;
	display: flex;
	height: 780px;
}

.fila1 > .col-categorias{
	width: 180px;
	height: 780px;
	border-radius: 4px;
	margin-right: 20px;
	background-color: #ff4343;
	box-shadow: 5px 5px 5px hsl(0, 100%, 70%);
}

.col-categorias > h2{
	padding: 5px;
	margin-bottom: 45px;
	text-align: center;
	font-size: 35px;
}

.fila1 > .col-categorias > ul > li{
	margin: 0px 0px 65px 8px;
}

.col-categorias a{
	text-decoration: none;
	color: black;
	font-style: italic;
	font-weight: bold;
	font-size: 19px;
}

.col-categorias a:hover{
	color: white;
}

#sub{
	margin: 20px 0px 0px 40px;
	text-align: left;
}

.fila-productos{
	width: 100%;
	background-color: #a3a3a331;
	border-radius: 14px 14px 4px 4px;
	box-shadow: 5px 5px 5px #a3a3a331;
}

.fila-productos > h2{
	margin: 0;
	padding: 15px;
	margin-bottom: 18px;
	border: 1px solid black;
	text-align: center;
	font-size: 40px;
	background-color: #000000;
	color: #ff4343;
	border-radius: 14px;
	box-shadow: 5px 5px 5px black;
}

.fila-destacados, .fila-ofertas{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 60px;
}

.fila-destacados > .col-prod1, .col-prod2, .col-prod3, .fila-ofertas > .col-oferta1, .col-oferta2, .col-oferta3{
	width: 303px;
	height: 237px;
}

.col-prod1, .col-oferta1{
	margin-right: 50px;
}

.col-prod2, .col-oferta2{
	margin-left: 50px;
	margin-right:50px;
}

.col-prod3, .col-oferta3{
	margin-left: 50px;
}

#img-prod-dest1, #img-prod-dest2, #img-prod-dest3, #img-prod-ofertas1, #img-prod-ofertas2, #img-prod-ofertas3{
	width: 200px;
	height: 140px;
	margin-left: 55px;
	margin-right: 55px;
}

.col-prod1 > ul > li, .col-prod2 > ul > li, .col-prod3 > ul > li, .col-oferta1 > ul > li, .col-oferta2 > ul > li, .col-oferta3 > ul > li{
	text-align: center;
	padding: 2px;
}

.fila-destacados a{
	color: black;
}

.col-prod1 > ul > li:last-child, .col-prod2 > ul > li:last-child, .col-prod3 > ul > li:last-child, .col-oferta1 > ul > li:last-child, .col-oferta2 > ul > li:last-child, .col-oferta3 > ul > li:last-child{
	margin-top: 16px;
}

.fila-destacados button, .fila-ofertas button{
	width: 70px;
	padding: 5px;
	border-radius: 16px;
	border: 1px solid #1883ba;
	background-color: #1883ba;
	color: #ffffff;
}

footer{
	height: 200px;
	display: flex;
	padding-top: 20px;
}

footer > section{
	margin: 20px 100px 5px 60px;
	text-align: left;
}

footer a{
	color: #969696;
}

footer a:hover{
	color: #144275;
}

section:nth-child(7){
	text-align: center;
}

h3{
	margin-bottom: 8px;
}

section > ul > li{
	margin-bottom: 5px;
}

hr{
	border-style: groove;
	border-radius: 50%;
}

.icon-facebook:hover, .icon-twitter:hover, .icon-instagram:hover{
	color: lightseagreen;
}

.icon-facebook{
	color: blue;
}

.icon-twitter{
	color: cornflowerblue;
}

.icon-instagram{
	color:orangered;
}

section:nth-child(7) > ul > li{
	font-size: 1.5em;
}


/* -------------------Página Tiendas----------------- */
.contenedor{
	margin: 130px 8px 100px 8px;
	height: 720px;
}

.primera-fila, .segunda-fila{
	display: flex;
	justify-content: center;
	align-items: center;
}

.primera-fila{
	margin-bottom: 60px;
	padding-top: 20px;
}

.col1, .col2, .col3, .col4, .col5, .col6{
	width: 400px;
	text-align: center;
	background-color: #e2e2e2;
	box-shadow: 10px 10px 10px rgb(168, 167, 167);
}

.col2, .col3, .col5, .col6{
	margin-left: 67px;
}

.primera-fila img, .segunda-fila img{
	width: 270px;
	height: 240px;
	padding-top: 20px;
}

.primera-fila p, .segunda-fila p{
	padding-top: 20px;
}


/* ---------------Página Contacto------------- */
.contenedor2{
	display: flex;
	margin: 130px 15px 190px 15px;
}

.contenedor2 section{
	width: 50%;
	height: 600px;
	border: 1px solid black;
}

.formulario{
	margin-right: 10px;
}

.formulario p{
	text-align: center;
	padding-top: 20px;
	font-size: 30px;
	text-shadow: 2px 3px 5px #ff434386;
}

.info{
	margin-left: 10px;
	text-align: center;
}

.formulario, .info{
	box-shadow: 10px 10px 10px grey;
	border-radius: 10px;
}

form ul li{
	margin: 24px;
}

form{
	width:600px;
	padding-top: 5px;
	border-radius:10px;
	margin:auto;
	text-align: center;
}

form label{
	width:70px;
	text-align: left;
	display:inline-block;
}

form input[type="text"],form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#c7c7c7;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width: 30%;
	padding: 12px 16px;
	margin-top: 32px;
	border: 1px solid #2b517c;
	border-radius: 20px;
	color:#fff;
	background-color:#2b517c;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:50%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:10px;
	background-color:#c7c7c7;			
	margin:20px auto;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}

.info p{
	margin-bottom: 30px;
}

.contenedor-mapa{
	color: red;
	width: 100%;
	height: 69%;
	margin: auto;
}

#map {
	height: 100%;
}

html, body {
	height: 100%;
}

/* -------------------------POP UP------------------------- */
.fondo-black{
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(3px);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.8s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}

.caja-popup{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color: rgba(255, 80, 80,0.9);
	color: #000;
	width: 500px;
	height: 400px;
	visibility: hidden;
	border-radius: 20px;
	font-size: 35px;
	text-shadow: 0px 0px 10px #fff;
	box-shadow: 5px 5px 5px #000;
	opacity: 0;
	transition: 0.8s ease-in-out;
	transition-delay: 0.4s;
}

#descripcion, #precio, .cerrar-popup{
	padding: 3px 0;
}

.caja-popup > .cerrar-popup{
	border: none;
	border-radius: 8px;
	background-color: transparent;
	color: #000;
	font-size: 18px;
	width: 10%;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.caja-popup .comprar{
	border: none;
	padding: 10px 60px;
	color: #000;
	background: linear-gradient(#fff, #000);
	font-weight: bold;
	display: flex;
	justify-content: center;
}